<div class="row mt-3">

    <div class="col-lg-8">
        <img id="bg-dark-102" style="display: none;" src="assets/img/fighters/bg-dark-102.jpg">

        <img id="bg-dark-102-near" style="display: none;" src="assets/img/fighters/bg-dark-102-near.png">
        <img id="bg-dark-102-far" style="display: none;" src="assets/img/fighters/bg-dark-102-far.jpg">

        <img id="bg-dark-112" style="display: none;" src="assets/img/fighters/bg-dark-112.jpg">
        <img id="bg-dark-302" style="display: none;" src="assets/img/fighters/bg-dark-302.jpg">
        <img id="bg-dark-312" style="display: none;" src="assets/img/fighters/bg-dark-312.jpg">
        <img id="bg-fire-102" style="display: none;" src="assets/img/fighters/bg-fire-102.jpg">
        <img id="bg-fire-112" style="display: none;" src="assets/img/fighters/bg-fire-112.jpg">
        <img id="bg-fire-112-near" style="display: none;" src="assets/img/fighters/bg-fire-112-near.png">
        <img id="bg-fire-112-far" style="display: none;" src="assets/img/fighters/bg-fire-112-far.jpg">
        <img id="bg-light-102" style="display: none;" src="assets/img/fighters/bg-light-102.jpg">

        <!-- adding small images -->
        <img id="bg-alt" style="display: none;" src="assets/img/fighters/bg-alt.jpg">
        <img id="bg-alt-near" style="display: none;" src="assets/img/fighters/bg-alt-near.png">
        <img id="bg-alt-far" style="display: none;" src="assets/img/fighters/bg-alt-far.jpg">


        <img id="weapon-profile" style="display: none;" src="assets/img/weapon-profile.png">
        <img id="weapon-profile-alt" style="display: none;" src="assets/img/weapon-profile-alt.png">

        <img id="weapon-profile-alt-2" style="display: none;" src="assets/img/weapon-profile-alt-2.png">

        <img id="circle" style="display: none;" src="assets/img/circle.png">
        <img id="circle-alt" style="display: none;" src="assets/img/circle-alt.png">
        <img id="circle-alt-small" style="display: none;" src="assets/img/circle-alt-small.png">

        <!-- app gets aspect of the bakground from this canvas -->
        <canvas class="canvas rounded" id="canvas" width="1772" height="1241">
            Sorry, your browser doesn't support the &lt;canvas&gt; element.
        </canvas>
    </div>

    <div class="col-lg-4 scroll-area-fade">
        <div class="scroll-area">
            <div class="accordion">

                {% include fighters/section-background.html %}
                {% include fighters/section-image.html %}
                {% include fighters/section-factionrunemark.html %}
                {% include fighters/section-characteristics.html %}
                {% include fighters/section-runemarks.html %}
                {% include fighters/section-weapons.html %}

            </div>

            {% include fighters/section-actions.html %}

        </div>
    </div>

</div>
